/***
** Global styles
***/
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; }

img {
  max-width: 100%; }

.text-center {
  text-align: center; }

button:target, button:focus {
  outline: none; }

.btn {
  display: inline-block;
  padding: 6px 12px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #ccc;
  transition: background-color .2s linear, border-color .2s linear; }
  .btn.btn-blue {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    cursor: pointer; }
    .btn.btn-blue:hover {
      background-color: #22527b;
      border-color: #1d4568; }
  .btn.disabled {
    cursor: not-allowed; }
  .btn.btn-red {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    cursor: pointer; }
    .btn.btn-red:hover {
      background-color: #b52b27;
      border-color: #9f2723; }
  .btn.btn-green {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c; }
    .btn.btn-green.pointer {
      cursor: pointer; }
      .btn.btn-green.pointer:hover {
        background-color: #3d8b3d;
        border-color: #357935; }

/***
** App layout
***/
.app-container {
  width: 100%;
  margin: 0px auto;
  padding: 0px 15px; }

.app-search {
  margin: 0px auto 40px auto;
  display: block;
  width: 60%;
  height: 34px;
  padding: 6px 12px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }

.app-characters {
  margin: 0px -15px;
  overflow: hidden; }

.app-character {
  max-width: 300px;
  text-align: center;
  padding: 0px 15px;
  margin: 0 auto 50px auto; }
  .app-character__image {
    width: 100%;
    height: 266px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat; }
  .app-character__name {
    min-height: 43px;
    margin-bottom: 10px;
    font-size: 16px; }

.app-pagination {
  font-size: 18px;
  text-align: center;
  margin-bottom: 40px; }
  .app-pagination__page {
    display: inline-block;
    vertical-align: bottom;
    padding: 5px 7px;
    margin: 0px 5px; }

/***
** Responsive styles
***/
@media only screen and (min-width: 480px) {
  .app-character {
    max-width: 420px; }
    .app-character__image {
      height: 390px; } }

/* Tablets */
@media only screen and (min-width: 768px) {
  .app-container {
    width: 750px; }
  .app-character {
    max-width: none;
    width: 50%;
    float: left; }
    .app-character:nth-child(2n+1) {
      clear: left; }
    .app-character__inner {
      max-width: none; }
    .app-character__image {
      height: 330px; } }

/* Small laptops */
@media only screen and (min-width: 1024px) {
  .app-container {
    width: 970px; }
  .app-character {
    width: 25%; }
    .app-character:nth-child(2n+1) {
      clear: none; }
    .app-character:nth-child(4n+1) {
      clear: left; }
    .app-character__image {
      height: 212px; } }

/* Desktop */
@media only screen and (min-width: 1200px) {
  .app-container {
    width: 1170px; }
  .app-character__image {
    height: 260px; } }
